# Name: Iterative_Deconvolve_3D_WS

# An example demonstrating web services in Fiji

Plugins>LOCI>OpenCL, "TestWS Greeting", demos.TestWS
Plugins>LOCI>OpenCL, "Iterative 3D Decon WS", demos.Iterative3DDeconWS
Plugins>LOCI>OpenCL, "Sobel WS Remote", demos.SobelWS
Plugins>LOCI>OpenCL, "SobelCL Local", demos.SobelLocal
